<!-- Bootstrap core JavaScript-->


<script src="/js/bootstrap.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/bootstrapdatatable.js"></script>

</body>

</html>
