<!-- Bootstrap core JavaScript-->



<script src="/js/jquery.validate.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/bootstrapdatatable.js"></script>

</body>
<footer >
    <p class="text-center">&copy; Copyright reserved to JUIIT</p>
</footer>

</html>
