{{> header}}
<body>
<div class="page-header">
    <h1>Course</h1>
</div>
<div class="modal" id="batchModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <p>Batch Created Successfuly.</p>
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div class="col-sm-4">
        <form class="form-group">
            <div class="form-group">
                <label for="batch">Course Name:</label>
                <input type="text" id="courseName" class="form-control" placeholder="Enter Course Name" >
            </div>
            <div class="form-group">
                <label for="batch">Course Number:</label>
                <input type="text" id="courseNumber" class="form-control" placeholder="Enter Course Number">
            </div>
            <button type="button" id="submit-course" class="btn btn-info">Submit</button>
        </form>
    </div>

    <div class="col-sm-8">
        <table id="course-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>

            </tr>
        </thead>
        <tbody></tbody>

    </table>
     <button class="btn btn-danger pull-right margin-left-5px" id="delete-batch">Delete</button>
          <button class="btn btn-primary pull-right margin-left-2" id="edit-batch">Edit</button>
    </div>
</div>
<script src="/course/course.js"/>
{{> footer}}
