{{> header}}
<body>
<div class="page-header">
    <h1>Faculty</h1>
</div>
<div class="modal" id="batchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <p>Batch Created Successfuly.</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-4">
        <form class="form-group">
              <div class="form-group">
                <label for="pwd">Department Id:</label>
                <select id="departmentId" class="form-control">
                   
                </select>
            </div>
            <div class="form-group">
                <label for="batch">Teacher Name:</label>
                <input type="text" id="teacherName" class="form-control" placeholder="Enter Teacher Name">
            </div>
            <div class="form-group">
                <label for="batch">Address:</label>
                <input type="text" id="address" class="form-control" placeholder="Enter Address">
            </div>
            <div class="form-group">
                <label for="batch">Phone Number:</label>
                <input type="text" id="phoneNumber" class="form-control" placeholder="Enter Phone Number">
            </div>
            <div class="form-group">
                <label for="batch">Job Description:</label>
                <input type="text" id="jobDescription" class="form-control" placeholder="Enter Job Description">
            </div>
            <button type="button" id="submit-faculty" class="btn btn-info">Submit</button>
        </form>
    </div>

    <div class="col-sm-8">
        <table id="faculty-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Department Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Job Description</th>


            </tr>
            </thead>
            <tbody></tbody>

        </table>
         <button class="btn btn-danger pull-right margin-left-5px" id="delete-batch">Delete</button>
          <button class="btn btn-primary pull-right margin-left-2" id="edit-batch">Edit</button>
    </div>
</div>
<script src="/faculty/faculty.js"/>
{{> footer}}
