{{> header}}
<body>
<div class="page-header">
    <h1>Notice</h1>
</div>

<div class="container">
    <div class="col-sm-4">
        <form id="noticeForm">
            <div class="form-group">
                <label for="batch">Content</label>
                <textarea  id="content" class="form-control" rows="5" name="content" placeholder="Enter Content"></textarea>
            </div>

            <button type="button" value="submit" id="submit-notice" class="btn btn-info">Submit</button>
             <button type="button" value="Update" id="update-notice" class="hide btn btn-info">Update</button>
        </form>
    </div>

    <div class="col-sm-8">
        <table id="notice-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>

                <th>Notice</th>

            </tr>
            </thead>
            <tbody></tbody>

        </table>
        <button class="btn btn-danger pull-right margin-left-5px" id="delete">Delete</button>
          <button class="btn btn-primary pull-right margin-left-5px" id="edit">Edit</button>
           <button class="btn btn-primary pull-right margin-left-5px" id="add">Add</button>

    </div>

</div>
<script src="/notice/notice.js"> </script>
{{> footer}}
