{{> headerhome}}
<body>
<div class="container">
    <div class="col-md-4 col-offset-2">

        <div class="form-group">
            <input id="student" type="text" class="form-control" placeholder="Enter Student Id">
        </div>

        <div class="form-group">
            <select id="course" class="form-control">

            </select>
        </div>
        <div class="form-group">
            <button id="getResult" class="btn btn-info">Submit</button>
        </div>
        <div class="form-group">
            <label>Quiz:</label> <span class="text-primary" id="quiz"></span>
        </div>
        <div class="form-group">
            <label>Final:</label> <span class="text-primary" id="final"></span>
        </div>
        <div class="form-group">
            <label>Grade:</label> <span class="text-primary" id="grade"></span>
        </div>

    </div>

</div>


<script src="/js/results.js"></script>
{{> footerhome}}