{{> headerhome}}
<body>
<div class="container">
    <div class="col-md-4 col-offset-2">

        <div class="form-group">
            <input id="student" type="text" class="form-control" placeholder="Enter Student Id">
        </div>

        <div class="form-group">
            <select id="batch" class="form-control">

            </select>
        </div>
        <div class="form-group">
            <button id="getResult" class="btn btn-info">Submit</button>
        </div>

    </div>

      <div class="col-sm-8">
        <div class="row mb-5">
            <table id="marks-table" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>


                    <th>Course</th>
                    <th>Credit</th>
                    <th>Attendance</th>
                    <th>Quiz</th>
                    <th>Final</th>
                    <th>Total</th>
                    <th>Grade</th>


                </tr>
                </thead>
                <tbody></tbody>

            </table>

        <div class="container mt-5">
            <p><span class="text-primary">Total Marks : </span><span id="showtotal"></span></p>
            <p><span class="text-primary"> Total Credit : </span><span id="showcredit"></span></p>
            <p><span class="text-primary">Cgpa : </span><span id="cgpa"></span></p>

        </div>
    </div>

</div>


<script src="/js/results.js"></script>
{{> footerhome}}