{{> header}}
<body>
<div class="page-header">
    <h1>Student</h1>
</div>
<div class="modal" id="batchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <p>Batch Created Successfuly.</p>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-sm-4">
        <form id="student-form" class="form-group">
            <div class="form-group">
                <label for="pwd">Batch Id:</label>
                <select id="batchId" name="batchId" class="form-control">
                   
                </select>
            </div>
            <div class="form-group">
                <label for="batch">Student Name:</label>
                <input type="text" id="studentName" name="studentName" class="form-control" placeholder="Enter Student Name">
            </div>
             <div class="form-group">
                <label for="batch">Date Of Birth:</label>
                <input type="date" id="studentDateOfBirth" name="studentDateOfBirth" class="form-control" placeholder="Enter Date Of Birth">
            </div>
            <div class="form-group">
                <label for="batch">Address:</label>
                <input type="text" id="studentAddress" name="studentAddress" class="form-control" placeholder="Enter Address">
            </div>
            <div class="form-group">
                <label for="batch">Phone Number:</label>
                <input type="text" id="studentPhoneNumber" name="studentPhoneNumber" class="form-control" placeholder="Enter Phone Number">
            </div>
            <div class="form-group">
                <label for="batch">Section Name:</label>
                <select class="form-control" name="sectionName" id="sectionName">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>


                </select>
            </div>
            <button type="button" id="submit-student" class="btn btn-info">Submit</button>
               <button type="button" id="update-student" class="hide btn btn-info">Update</button>

        </form>
    </div>

    <div class="col-sm-8">
        <table id="student-table" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Batch Id</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Section</th>


            </tr>
            </thead>
            <tbody></tbody>

        </table>
         <button class="btn btn-danger pull-right margin-left-5px" id="delete">Delete</button>
          <button class="btn btn-primary pull-right margin-left-5px" id="edit">Edit</button>
           <button class="btn btn-primary pull-right margin-left-5px" id="add">Add</button>

    </div>
</div>
<script src="/student/student.js"> </script>
{{> footer}}
